<ion-header traslucent mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>Movie App</ion-title>
    <ion-icon name="log-out-outline" size="large" slot="end" (click)="presentAlert()"></ion-icon>
  </ion-toolbar>

  <app-search></app-search>

</ion-header>

<ion-content>
  <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350"> 
    <ion-grid>
      <ion-card *cdkVirtualFor="let movie of arrayMovies" (click)="viewDetails(movie)">
        <img  [src]="movie['_embedded'].show.image.medium" />
        <ion-card-header>
          <ion-card-title style="font-size: medium;">{{movie['_embedded'].show.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-grid>
  </cdk-virtual-scroll-viewport>

</ion-content>
